<ul class="list-unstyled well">
  <% @posts.each do |post| %>
    <li><%= link_to post.title, post_path(post) %> - <%= post.created_at.in_time_zone('Pacific Time (US & Canada)').strftime("%H:%M %m/%d/%y").downcase %></li>
  <% end %>
</ul>